
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

.animate{
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

.btn-warning {
    color: #fff!important;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3);
    background-color: #ffc107!important;
    border-color: #ffc107!important;
    outline:0!important;
}

.btn{ text-shadow:1px 1px 1px rgba(0,0,0,0.3); }
.btn-group-sm>.btn, .btn-sm {
    padding: 8px 10px;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
}

body {
	color:#333;
	text-align: left;
	font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: rgb(63,94,251);
    background: -moz-linear-gradient(349deg, rgba(63,94,251,1) 0%, rgba(70,223,252,1) 100%);
    background: -webkit-linear-gradient(349deg, rgba(63,94,251,1) 0%, rgba(70,223,252,1) 100%);
    background: linear-gradient(349deg, rgba(63,94,251,1) 0%, rgba(70,223,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#46dffc",GradientType=1);

}

h1, h2, h3, h4, h5{
	margin:0;
}

a{
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;    
}
a:hover{
	text-decoration: none;
    opacity:0.8;
}

.colorswab{
	background-color:#000; 
	width:30px; 
	height:30px;
	border-radius:50%;
}

.datepicker-dropdown{
    padding: 0;
    overflow: hidden;
    margin-left: -1px;
}

table{ border: 1px solid #dee2e6;  }
.datepicker table{ border:0; }
table td,
table th{ padding: 10px; }
table th{ 
	background-color: #f7f7f7; 
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	color:#1d68a7;
}
table td{  }
.table{ margin-bottom:0px; }
.table td, .table th{
    vertical-align: middle;
    padding: 10px;
}

#clients_table td{ vertical-align: top; }
#clients_table td div{ line-height:1; }
#clients_table td.column-name .clientemail{ padding:5px 0; }

#clients_table td.column-projects div{ margin-bottom:2px; }

.btn-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    opacity:0.85;
}

img{ display:inline-block; vertical-align: middle; }



select.form-control{
    padding: .375rem 0.55rem;
}
.input-group-item{ padding-bottom:.375rem; }
.input-group-item:last-of-type{ padding-bottom:0; }


.container{
	max-width:100%!important;
	padding:0;
}

.navbar{ 
	padding-left:30px; 
	padding-right:30px;
}
.navbar-brand img{ margin-right:5px; }

.nav-item a{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#container {
	margin: 0 auto;
	display:grid;
	grid-template-columns: 280px auto;
	grid-template-areas: 
	"header header"
	"main main"
	"footer footer"
}
#container.logged_in {
	grid-template-areas: 
	"header header"
	"sidebar main"
	"footer footer"
}
#container .header{ 
	grid-area: header;
	padding-bottom:30px; 
	/*background: #27293d;
	color:#fff;*/
}
#container .sidebar{ 
	grid-area: sidebar; 
	padding: 0 0 0 30px;
	display:none;
	/*background: rgb(25,30,170);
	background: -moz-linear-gradient(180deg, rgba(25,30,170,1) 0%, rgba(0,232,255,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(25,30,170,1) 0%, rgba(0,232,255,1) 100%);
	background: linear-gradient(180deg, rgba(25,30,170,1) 0%, rgba(0,232,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191eaa",endColorstr="#00e8ff",GradientType=1);
	color:#fff;
	border-radius: .25rem;*/
}
#container.logged_in .sidebar{ display:block; }

#container .main{ 
	grid-area: main; 
	/*background: #27293d;*/
	padding: 0 30px;
	width: 60%;
	margin:0 auto;
}
#container.logged_in .main{
	width: auto;
	margin: 0;
}

#container .footer{ 
	grid-area: footer; 
	text-align:center;
	padding: 30px 0;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,0.15);
	/*background: #27293d;
	color:#fff;*/
}


.svg-icon{ 
	width:60px; 
	text-align: center;
}
.svg-icon svg{ 
	height:18px;
}


.card-header{
	border-bottom:0;
    padding: .75rem 1.25rem;
}
.navigation .card-header{ cursor: pointer; padding: 19px 1.25rem; }
.card-header.collapsed{ border-bottom:0; }
.card-header .chevron{
	transform: rotate(0deg);
	width:12px;
	height:12px;
	position:absolute;
	right:1.25rem;
	top: 1.50rem;
}
.card-header.collapsed .chevron{ 
	transform: rotate(-180deg); 
	top:1.2rem;
}
.card-header .chevron svg{ 
	display:block; 
}
.card-header.hasicon{
	display:grid;
	grid-template-columns: 36px auto 312px;
	grid-template-areas: 'icon text buttons';
}
.card-header.hasicon .card-header-icon.svg-icon{
	grid-area: 'icon';
	width:34px; 
	text-align: left;
	line-height: 24px;
    padding: 6px 0;
}
.card-header.hasicon .card-header-icon.svg-icon svg{ height:24px; }
.card-header.hasicon .card-header-text{
	grid-area: 'text';
	line-height: 24px;
    padding: 6px 0;
}
.card-header.hasicon .card-header-button{
	grid-area: 'buttons';
	text-align: right;
}

.card{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    border:0;
}
.card-body{ border-top: 1px solid rgba(0,0,0,.125); }



.menu-list{
	list-style: none;
	margin:0;
	padding:0;
	background: rgba(0,0,0,.03);
}
.menu-list-item{ 
	padding:8px 0; 
	display:flex;
	border-bottom:1px solid rgba(0,0,0,.0625);
	cursor: pointer;
}
.menu-list-item:last-of-type{ border:0; }
.menu-list-item:hover{ background: rgba(0,0,0,.02); }

.menu-list-item a,
.menu-list-item span{ 
	display:block;
	
}
.menu-list-item a{
	font-size:14px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 24px;
}
.menu-list-item:hover a{ color:#1d68a7; }


.menu-list-item .svg-icon svg path{ 
	fill:#333; 
	transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;	

}
.menu-list-item:hover .svg-icon svg path{ fill:#007bff; }

/* bootstrap tabs */
.project-menu{ padding-bottom:20px; }
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}


.imageupload{ padding:30px 0;  }
.imageupload .dropzone{ padding:0;  }

.progress{
	height:auto;
}
.progress-bar{
	padding:5px 10px;
}
.dropzone{ border:0; padding:0; }
.dropzone .dz-preview .dz-image img{ width:100%; }
.dropzone .dz-message{
    border: 2px dashed #0087F7;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    padding: 15px 0;    
	font-weight: 500; 
	text-align: center;
	cursor: pointer;
	position:relative;
	margin:0;
    width: 200px;
    padding:0;
    font-size:12px;
}
.dz-message-text{
	position: absolute;
	top: calc(50% - 48px);
	left:50%;
	width: 80%;
	transform: translate(-50%);
	background-color:rgba(0,0,0,0.5);
	color:#fff;
	padding:20px;
	border-radius: 20px;
}
.dz-message .note {
    font-size: 1em;
    font-weight: 300;
    display: block;
    margin:0;
}

.filters{
    margin-right:1.25rem;
    display: flex;
    justify-content: flex-end;
	padding-bottom:1.25rem;
    margin-bottom:1.25rem;
    border-bottom:1px dotted rgba(0,0,0,.24);    
}

.filter{
	display:flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
    padding-left:1.25rem;
}
.filter-dropdown-label{ line-height: 38px; padding-right:10px; }
.filter-dropdown{}
.filter-dropdown select{}

.card.projects .card-body{ padding-bottom:0; padding-right:0; }
.card.projects .alert{ margin-right:1.125rem; }

.project-cards{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:100%;
	padding:0 20px 0 0;
}
.project-card{
	display:block;
	border: 1px solid rgba(0,0,0,.125);
	border-radius:3px;
	padding: 12px 15px;
	background: rgb(247,247,247);
	background: -moz-linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7",endColorstr="#ffffff",GradientType=1);	
	color:#333;
	font-size: 12px;
    width: calc(33% - 10px);
    margin-bottom:20px;
}
/*.project-card:nth-child(3n+3){ margin-right:0; }*/

.project-card:hover{ color:#333; }
.project-card-name h2{
	font-size: 0;
	color:#007bff;
	position:relative;
    border-bottom: 1px dotted rgba(0,0,0,.125);
    padding-bottom: 8px;
    margin-bottom: 8px;	
}
.project-card-name h2 a{ font-size: 16px; display:inline-block; vertical-align: top; width:calc(100% - 80px); }
.project-card-details{ font-size:13px; letter-spacing: 1px; }
.project-card-name h2 small{ 
	font-size: 12px;
	position:absolute;
	right:0;
	display: inline-block;
    vertical-align: middle;
    line-height: 22px;
}
.project-card-client, .project-card-total{
	display:inline-block;
	vertical-align: top;
	font-size: 14px;
	color:#007bff;
}
.project-card-total{ text-align:right; width:80px; }
.project-card-status{ 
    float:right; 
    font-size:12px;
    color:#fff;
    border-radius:3px;
    padding: 0 8px 2px;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}


.quote{ background-color:#007bff!important; border-color:#007bff!important; } 
.processing{ background-color:#6c757d!important; border-color:#6c757d!important; } 
.invoice{ background-color:#ffc107!important; border-color:#ffc107!important; }
.complete{ background-color:#28a745!important; border-color:#28a745!important; }
.unpaid{ background-color:#dc3545!important; border-color:#dc3545!important; }

.unpaid-amount{ 
    opacity:0;
    height:1px;
    margin-bottom:0;
}

.unpaid-amount.active{
    opacity:1;
    height:auto;
    margin-bottom:1rem;
} 

.project-card-taskcount{
    padding-top:5px; 
}
.project-card-brief,
.project-card-duedate{
	letter-spacing: 1px;
}
.project-card-brief{
    padding-top: 8px;
    font-size: 12px;
}

.project-edit-form{
	padding-bottom:20px;
	
}
.project-section-title{ 
    font-size: 14px;
    text-transform: uppercase;	
	padding-bottom:10px; 
	margin-bottom:0px; 
}

.project-menu-page{
    position:relative;
    padding:0 15px;
}
.project-tasks{ 
	/*border-top:1px dotted rgba(0,0,0,0.125); */
}
.project-task{
	display: flex;
    justify-content: flex-start;
	/*display:grid;
	grid-template-columns: 40px 60px auto 24px;
	grid-template-areas: "taskicon tasktime taskdesc taskactions";*/
    border-top: 1px dotted rgba(0,0,0,0.125);
    /*font-size:0;*/
    padding:5px 0;
}
.project-task:hover{
    background-color:#f6f8f9;
}
.project-task-dragdrop{ 
	/*grid-area: 'taskicon';*/
	text-align: center; 
	position: relative;
	width:30px;
    opacity:0;
    cursor: pointer;
}
.project-task-dragdrop svg{
    height: 16px;
    width: 16px;
    margin:0 0;
}
.project-task-dragdrop svg path{ fill: #b7bfc6; }
.project-task:hover .project-task-dragdrop{ opacity:1; } 
.project-task-icon{ 
	/*grid-area: 'taskicon';*/
	text-align: left; 
	position: relative;
	width:26px;
}
.project-task-icon:before{
	width:40px;
	font-family: "Font Awesome 5 Pro";
	content: '\f058';
	font-size:20px;
	font-weight: 300;
	color:rgba(0,0,0,0.25);
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;	
	cursor: pointer;
	position: absolute;
    top: -3px;
    left: 0;	
}
.project-task-icon:hover:before{color:#25e8c8;} 
.project-task.completed .project-task-icon:before{ 
	font-family: "Font Awesome 5 Pro";
	font-weight: bold;
	content: '\f058';
	color:#25e8c8;
}
.project-task.completed .project-task-icon:hover:before{ 
	color:#00bf9c;
}

.project-task-time{ 
	/*grid-area: 'tasktime';*/
	text-align: center; 
	position: relative;
    width: 68px;
}
.project-task-time select{
	font-family: 'Open Sans';
	font-size:13px;
	height: 24px;
	padding: 0;
	margin:0;
	border: 0;
	background: none;
	display:block;
	width:100%;
	outline:none!important;

} 


.project-task-desc{
	/*grid-area: 'taskdesc';*/
	/*flex: 1 1 auto;*/
	flex: 1;
    min-width: 1px;
	max-height: 100%;
    position: relative;
    margin: 0;
    padding-left:10px;
}
.project-task-desc textarea{
	font-family: 'Open Sans';
	font-size:13px;
	line-height: 24px;
	padding: 0;
	margin:0 0;
	border: 0;
	background: none;
	display:inline-block;
    vertical-align: middle;
	width:100%;
    text-rendering: optimizeSpeed;
	overflow:hidden;
	resize: none!important;
    white-space: pre-wrap;
    word-wrap: break-word;	
    min-height: 24px;
    position:relative;
    top:0;
    left:0;
}
.project-task-desc textarea::-webkit-input-placeholder{
	font-size:13px;
	line-height: 24px;	
    min-height: 24px;
}
.project-task-desc textarea::-moz-placeholder{
	font-size:13px;
	line-height: 24px;	
    min-height: 24px;
}
.project-task-desc textarea:-moz-placeholder{
	font-size:13px;
	line-height: 24px;	
    min-height: 24px;
}
.project-task-desc textarea:-ms-input-placeholder{
	font-size:13px;
	line-height: 24px;	
    min-height: 24px;
}

.project-task-desc textarea:focus{ outline: none; }
.project-task-actions{
	/*grid-area: 'taskactions';*/
	padding:6px 0 0;
	display: flex;
    justify-content: space-between;
   	width:24px;
}
.project-task-actions .delete-task-action,
.project-task-actions .calendar-action,
.project-task-actions .user-assign-action{
	display:block;
	vertical-align: middle;
}
.project-task-actions .calendar-action .calendar-action-icon{
	border: 1px dashed rgba(0,0,0,0.250);
	width:24px;
	height:24px;
	border-radius: 50%;
	text-align: center;
	position:relative;
	padding:5px;
	color: rgba(0,0,0, 0.250);
}
.project-task-actions .calendar-action .calendar-action-icon:hover{ color: rgba(0,0,0,0.75); border-color:rgba(0,0,0,0.75); border-style: solid; }
.project-task-actions .calendar-action .calendar-action-icon:before{
	font-family: "Font Awesome 5 Pro";
	content: '\f133';
	font-size: 14px;
	font-weight: 300;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.project-task-actions .user-assign-action .user-assign-action-icon{
	border: 1px dashed rgba(0,0,0,0.250);
	width:24px;
	height:24px;
	border-radius: 50%;
	text-align: center;
	position:relative;
	padding:5px;
	color: rgba(0,0,0, 0.250);
}
.project-task-actions .user-assign-action .user-assign-action-icon:hover{ color: rgba(0,0,0,0.75); border-color:rgba(0,0,0,0.75); border-style: solid; }
.project-task-actions .user-assign-action .user-assign-action-icon:before{
	font-family: "Font Awesome 5 Pro";
	content: '\f007';
	font-size: 14px;
	font-weight: 300;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.project-task-actions .delete-task-action .delete-task-action-icon{
	border: 1px dashed #dc3545;
	width:22px;
	height:22px;
	border-radius: 50%;
	text-align: center;
	position:relative;
	padding:5px;
	color: #dc3545;
}
.project-task-actions .delete-task-action .delete-task-action-icon:hover{ color: #dc3545; border-color:#dc3545; border-style: solid; }
.project-task-actions .delete-task-action .delete-task-action-icon:before{
	font-family: "Font Awesome 5 Pro";
	content: '\f00d';
	font-size: 14px;
	font-weight: 300;
	display:inline-block;
	vertical-align: middle;
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;	
}
.project-task.completed .project-task-time select,
.project-task.completed .project-task-desc textarea{
    color:#b7bfc6;
}

#empty-task-entry{ display:none; }

.inner-link{
    font-size:12px;
    font-weight: 400;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3);
    padding:8px 10px;
    line-height:1;
    display:inline-block;
    vertical-align: middle;
    margin:0;
    border-radius:3px;
}
.inner-link:hover{ 
    opacity:0.8; 
    color:#fff;
}


/* SORTABLE STYLES */
body.dragging,
body.dragging * {
    cursor: pointer !important;
}

.dragged {
    position: absolute;
    top: 0;
    opacity: .5;
    z-index: 2000;
}

ol.vertical {
    margin: 0;
    min-height: 10px;
    padding: 0;
}

ol.vertical li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

ol.vertical li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: #333;
    border-right: none;
}

ol.vertical li:last-of-type .project-task{ }

@media screen and (max-width:1360px){
	.project-card{ width: calc(50% - 10px); }
}
@media screen and (max-width:1279px){
    .project-card{ width:100%; margin-right:0; }
}
@media screen and (max-width: 1198px){
	#container .main { width:80%; }
	#container,
	#container.logged_in {
		grid-template-columns: 100%;
	    grid-template-areas: "header" "sidebar" "main" "footer";
  	}
	#container .main,
	#container .sidebar{
		padding:0 30px;
	}
	#container.logged_in .main{ width:100%; }
	#container.logged_in .sidebar{ padding-bottom:30px; }
}
@media screen and (max-width: 900px){
	#container .main { width:95%; }
}
@media screen and (max-width: 767px){
	#container,
	#container.logged_in {
		grid-template-columns: 100%;
	    grid-template-areas: "header" "sidebar" "main" "footer";
  	}
	#container .main,
	#container .sidebar{
		padding:0 30px;
	}
	#container.logged_in .main{ width:100%; }
	#container.logged_in .sidebar{ padding-bottom:30px; }
}
